.catalog {
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: var(--bg-lightest-grey);

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: 1440px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog .container {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 1440px) {
    width: calc(100% - 80px);
    grid-template-columns: 318px 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 30px;
    grid-row-gap: 0;
  }
}

.catalog__title {
  margin-bottom: 4px;
  text-align: center;

  @media (min-width: 1440px) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.catalog__slogan {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: 1440px) {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: 40px;
  }
}

.catalog__filter {
  @media (min-width: 1440px) {
    grid-area: 3 / 1 / 5 / 2;
  }
}

.catalog__sort {
  @media (min-width: 1440px) {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.catalog__product {
  @media (min-width: 1440px) {
    grid-area: 4 / 2 / 5 / 3;
  }
}

.catalog__pagination {
  @media (min-width: 1440px) {
    grid-area: 5 / 2 / 6 / 3;
  }
}
