.navigation {
  width: 100%;
  display: none;

  &--no-js {
    display: block;
  }

  &--open {
    display: block;
    position: absolute;
    top: 60px;
    z-index: 10;
  }

  @media (min-width: 768px) {
    width: auto;
    display: block;
    position: static;
  }
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    column-gap: 20px;
  }
}

.navigation__item {
  width: 100%;
  background-color: var(--base-white);
  border-bottom: 1px solid var(--base-secondary);

  &:first-child {
    border-top: 1px solid var(--base-secondary);

    @media (min-width: 768px) {
      border-top: none;
    }
  }

  @media (min-width: 768px) {

    width: auto;

    border-bottom: none;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  &[href]:not(.navigation__link--current):focus,
  &[href]:not(.navigation__link--current):hover {
    @media (min-width: 768px) {
      outline: none;
      color: var(--base-primary);
    }
  }

  &[href]:not(.navigation__link--current):active {
    background-color: var(--base-secondary);

    @media (min-width: 1440px) {
      color: var(--base-primary);
    }
  }

  @media (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 80px;
  }

  &--current {
    color: var(--base-primary);
    position: relative;
  }

  &--current::after {
    @media (min-width: 768px) {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--base-primary);
    }
  }
}
