.slider .container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--base-white);

  @media (min-width: 768px) {
    padding-bottom: 248px;
  }
}

.slider__swiper {
  overflow: visible;
}

.slider__list {
  @include list-reset;
}

.slider__btn {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 20px;
  height: 100%;
  padding: 0 4px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--base-primary);

  &::after {
    display: none;
  }

  &--prev {
    left: 0;
  }

  &--prev:not(:disabled):focus,
  &--prev:not(:disabled):hover {
    @media (min-width: 768px) {
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &--prev:not(:disabled):active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &--next {
    right: 0;
  }

  &--next:not(:disabled):focus,
  &--next:not(:disabled):hover {
    @media (min-width: 768px) {
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &--next:not(:disabled):active {
    background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    color: var(--base-grey);
  }

  @media (min-width: 768px) {
    width: 80px;
  }
}

.slider__indicator-list.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;

  @media (min-width: 1440px) {
    @include list-reset;
    width: auto;
    display: inline-flex;
    justify-content: center;
    column-gap: 8px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(calc(-50% - 1px));
  }

  & > .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: none;
    width: 62px;
    height: 24px;
    background-color: transparent;
    opacity: 1;
    margin: 0;
  }

  & > .swiper-pagination-bullet::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--base-white);
  }

  & > .swiper-pagination-bullet-active::before {
    background-color: var(--base-primary);
  }

  & > .swiper-pagination-bullet:not(:disabled):not(.swiper-pagination-bullet-active):focus::before,
  & > .swiper-pagination-bullet:not(:disabled):not(.swiper-pagination-bullet-active):hover::before {
    @media (min-width: 768px) {
      background-color: rgba(#7859cf, 0.25);
    }
  }

  & > .swiper-pagination-bullet:not(:disabled):not(.swiper-pagination-bullet-active):active::before {
    @media (min-width: 768px) {
      background-color: var(--base-primary);
    }
  }
}
